:root {
  /* https://github.com/features/codespaces
      Style inspiration*/
  --color-background: rgb(13, 17, 23);
  --color-dark-panel: rgb(21, 27, 35);
  --color-light-panel: rgb(36, 41, 47);
  --color_accent: rgb(171, 125, 248);
  --color-panel-top-shine: rgba(255, 255, 255, 0.25) 0 0 0 1px inset;
}
button {
  outline: none;
  border: none;
  background: none;
 color: white;
}

.threeD {
  box-shadow:
    inset 0 1px 1px rgba(125, 147, 176, 0.2),
    inset 0 2px 2px rgba(125, 147, 176, 0.05),
    inset 0 3px 3px rgba(21, 27, 35, 0.05),
    inset 0 4px 4px rgba(21, 27, 35, 0.1),
    0px 5px 10px rgba(0, 0, 0, 0.5);

  background-color: var(--color-dark-panel) !important;
  border-radius: 6px !important;
  border: 1px solid black !important;
}

html,
body,
.bodyContent {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--color-background);
  color: white;
  box-sizing: border-box;
}

header {
  height: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  color: white;
  border-bottom: 1px solid grey;
}

.headerLogo {
  color: var(--color_accent);
}

/* Custom scrollbar styles for webkit-based browsers */
.controlPanel::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

.controlPanel::-webkit-scrollbar-track {
  background: black;
  /* Color of the scrollbar track */
}

.controlPanel::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Optional: Rounded corners for the scrollbar thumb */
}

.controlPanel::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb when hovered */
}

.xLink {
  border-top-left-radius: 10px;
  background-color: white;
  height: 20px;
  font-size: .7rem;
  text-align: center;
  font-weight: 800;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.xLink:hover {
  background-color: lightgray;
  opacity: .8;
}
