.dashboardContainer {
  height: 100%;
  max-height: calc(100% - 70px);
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding: 10px;
  padding-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fileUploadForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  padding: 5px;
}

.fileUploadForm label {
  font-size: .8rem;
  margin-bottom: -20px;
}

.fileUploadForm input {
  background-color: var(--color-background);
  padding: 5px;
  color: grey;
  border: none;
  border-radius: 10px;
  height: 30px;
  border: 1px solid grey;
  outline: none;
}

@keyframes spin-border {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.fileUploadForm button {
  border: 1.5px solid var(--color-purple);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--color-background);
}



.consolePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background: linear-gradient(to top left,
    rgba(67, 43, 226, 0.1),
    var(--color-background),
    var(--color-background)
    );
}

.consolePanelNav {
  height: 20px;
  padding: 10px;
  border: 2px solid var(--color-dark-panel);
  border-radius: 6px;
}

.consolePanelNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.consolePanelNav li {
  cursor: pointer;
  position: relative;
}

.consolePanelNav li:hover {
  border-top: 1px solid white;
}

.consolePanelNav li:active {
  border-top: 1px solid yellow;
}


.consolePanelContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-wrapper {
  width: 100%;
  /* Set the desired width */
  max-width: 300px;
  /* Optional: Set a maximum width */
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid var(--accent_color);
  position: relative;
  /* Ensure the image can be positioned absolutely */
  height: 300px;
  /* Let the height adjust based on the image aspect ratio */
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* Maintain aspect ratio and cover the container */
}
