.dashboardContainer {
  height: 100%;
  max-height: calc(100% - 70px);
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding: 10px;
  padding-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}

.fileUploadForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  padding: 5px;
}

.fileUploadForm label {
  font-size: .8rem;
  margin-bottom: -20px;
}

.fileUploadForm input {
  background-color: var(--color-background);
  padding: 5px;
  color: grey;
  border: none;
  border-radius: 10px;
  height: 30px;
  border: 1px solid grey;
  outline: none;
}

.fileUploadForm button {
  border: 1.5px solid var(--color-purple);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 20px;
  color: var(--color-purple);
  background-color: var(--color-background);
}



.consolePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  background: linear-gradient(to top left,
    rgba(67, 43, 226, 0.1),
    var(--color-background),
    var(--color-background)
    );
}

.consolePanelNav {
  height: 20px;
  padding: 10px;
  border: 2px solid var(--color-dark-panel);
  border-radius: 6px;
}

.consolePanelNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.consolePanelNav li {
  cursor: pointer;
  position: relative;
}

.consolePanelNav li:hover {
  color: var(--color-peach);
  /* Gradient text for supported browsers */
  background: linear-gradient(90deg, var(--color-peach), var(--color-orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* Standard property */
  text-fill-color: transparent;
  /* Safari? */
}

.consolePanelContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* LIVE IMAGES TAB /////////////////////////////////////////////////*/
.tabLiveContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-wrapper {
  width: 100%;
  /* Set the desired width */
  max-width: 300px;
  /* Optional: Set a maximum width */
  border-radius: 30px;
  overflow: hidden;
  /* border: 1.5px solid var(--color-purple); */
  margin: 0 20px;
  position: relative;
  /* Ensure the image can be positioned absolutely */
  height: 200px;
  /* Let the height adjust based on the image aspect ratio */
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* Maintain aspect ratio and cover the container */
}
