.dashboardContainer {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 15px;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 200px;
  padding: 10px;
  color: white;
  background-color: rgb(30, 30, 30);
}

.controlPanelContent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.styleSelectButton {
  height: 150px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: black;
  color: grey;
}

.controlFileDragAndDrop {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: black;
  color: grey;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.controlFileDragAndDrop p {
  margin: 0;
  text-align: center;
}

.prompt-image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prompt-image-preview img {
  width: auto;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the container while maintaining aspect ratio */
}

.promptForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.promptForm label {
  font-size: 1rem;
  margin-bottom: -20px;
  font-weight: 600;
}

.promptForm input {
  background-color: var(--color-background);
  padding: 5px;
  color: grey;
  border: none;
  border-radius: 10px;
  height: 30px;
  border: 1.5px solid var(--color-borders);
  outline: none;
}

.promptForm button {
  border: 1px solid var(--color-borders);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px 20px;
  background-color: var(--color-background);
}

.toggleControlPanelButton {
  align-self: flex-end;
  color: grey;
  margin: 7px;
}

.consolePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.consolePanelNav {
  height: 20px;
  padding: 10px;
  border: 1px solid var(--color-borders);
  border-radius: 6px;
  color: grey;
}

.consolePanelNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.consolePanelNav li {
  cursor: pointer;
  position: relative;
}

.consolePanelNav li:hover {
  color: var(--color-peach);
  /* Gradient text for supported browsers */
  background: linear-gradient(90deg, var(--color-peach), var(--color-orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* Standard property */
  text-fill-color: transparent;
  /* Safari? */
}

.consolePanelContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
