.landingContainer {
  height: 100%;
  max-height: calc(100% - 50px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to top left,
    rgba(67, 43, 226, .5),
    var(--color-background),
    var(--color-background));
}
