.tabModelsContent {
  width: 100%;
  height: auto;
}

.createModelForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.formDragAndDrop {
  border: 1px solid var(--color-borders);
  background-color: black;
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  opacity: .8;
}

.formDragAndDrop:hover {
  opacity: 1;
}
